body {
    background-color: black;
    color: white;
    margin: 10px;
    
}
#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: gray;
    border-radius: 24px;
    margin: 48px auto;
    align-content: center;
}

h1 {
    color: green;
    font-size: 25pt;
    text-align: center;

}

h2 {
    color: white;
    font-size: 20pt;
    text-align: center;
}

p {
    color: antiquewhite;
    margin: 10px;
    font-size: 15pt;
    text-align: center;
}

input {
    border: solid;
    border-color: black;
    align-items: center;
    font: normal  18pt arial;
    color: black;
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}

#txtn1, #txtn2 {
    border: solid;
    border-color: black;
    width: 700px;
    margin: 10px;
     
}

#enviadados {
    align-content: center;
}

#envia {
    border: solid;
    border-color: black;
    width: 300px;
    margin: 10px;
    text-transform: capitalize;
    align-content: center;
    text-align: left;
    

}

#res, #sub, #divide, #multi {
    border: solid;
    border-color: black;
    color: blue;
    background-color: paleturquoise;
    font: normal 20pt arial;
    width: 700px;
    margin: 10px;
    text-transform: capitalize;
    text-align: left;

    
}

footer {
    border: none;
    
    text-transform: none;
    text-align: center;
    
}


